.navbar {
  background: url(assets/Bahar.jpg);
   height: 80px;
    display: flex;
    top: 0;
    z-index: 999;
    float: right;
  }

  .navbar-container {
    background-color: rgba(4, 4, 4, 0.4);
    display: flex;
    max-width: auto;
    position: relative;
  }
 

  .logo{
    display: flex; 
    scale: 8%; 
    align-items: center;
    margin-left:-37%;
    position: relative;
  }
  


  .image-wrapper {
    max-width: 100%;
    scale: 17%;
  } 
  
  .image-wrapperY {
    max-width: 100%;
    scale: 12%;
  } 

.scale-image {
    width: 100%;
    height: auto;
}

.flex-wrapper {
  display: flex; 
  align-items: self-end;
  justify-content: space-between;
  align-items: center;
  position: relative;
} 
